body {
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(5, 5, 5);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 50px 0;
    text-shadow: 2px 2px black;

    
}

table{

    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse ;
}

th{
background-color: black;
color: white;
}


td,th {

border: 2px solid black;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
padding-bottom: 10px;
}

nav {


    display: flex;
    align-items: center;
    justify-content: space-between;
padding-top: 20px;
padding-left: 5%;
padding-right: 5%;
font-weight:  bold;
}

h2{
color: rgb(250, 249, 249);
font-size: 45px;
}

ul li{
display: inline-block;
padding: 0px 20px;
}

a {
color: rgb(0, 0, 0);
text-decoration: none;

}

a:hover{

    color: aqua;
}

#background {
    background-image: url("https://.dreamstime.com/b/paisaje-con-las-monta%C3%B1as-fondo-de-la-naturaleza-colinas-de-con%C3%ADfero-75770452.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(8, 252, 0);
    font-size: 3rem;thumbs
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px black;
}

#seccio1 {
  background-image: url(https://media.meer.com/attachments/e367a7b0e780d20fc338af54fe0b009003286ac3/store/fill/1090/613/8b110d0843138fbdc34bbe747284d40bc54e5123b6c5f5e924f1fe5cb7c3/El-sol.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

